* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

li {
  list-style: none !important;
}

input, .btn {
  outline: none !important;
  border: none !important;
}

#updateStatus {
  transition: color 0s;
}

.dropdown-menu > li > a:hover {
  background-color: white;
  cursor: pointer;
}

th, td {
  border-bottom: 1px solid lightgray !important;
  height: 50px;
}

#AllocationIcons {
  cursor: pointer;
}

select {
  outline: none !important;
}

#inputNewValue {
  border: 1px solid lightgray !important;
}

@media only screen and (max-width: 992px) {
  #top4Divs {
    display: flex !important;
    flex-direction: column !important;
  }
  #top4Divs {
    margin-top: 20px !important;
  }
  #top4Divs > div {
    width: 100% !important;
    margin-top: 10px !important;
  }
  th, td {
    font-size: 12px !important;
  }
  #AllocationIcons {
    margin: 0 !important;
  }
}